@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes bonusAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.bonus-animation {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: green;
  animation: bonusAnimation 1s forwards;
  z-index: 1000;
}
